{% extends "base.html" %}
{% block content %}

<h1 class="title">Andy's Notes</h1>

<div class="section">
{% for course in courses %}
	<div class="table-of-contents-entry">
		<a class="item-title" href="#course-{{ loop.index }}">
			Course {{ loop.index }}: {{ course.title }}
		</a>
	</div>
	{% endfor %}
</div>

{% for course in courses %}
<div class="section">
	<h2 class="section-title" id="course-{{ loop.index}}">
		Course {{ loop.index }}: {{ course.title }}
	</h2>
	<p>{{ course.description }}</p>
	<ol>
	{% set course_number = loop.index %}
	{% for lesson in course.lessons %}
		<li>
			<h3>
				<a class="item-title" href="course/{{ course_number }}/#lesson-{{ loop.index }}">
					Lesson {{ loop.index }} - {{ lesson.title }}
				</a>
			</h3>
			<p>{{ lesson.description }}</p>
		</li>
	{% endfor %}
	</ol>
	<div class="video">
		<h3>Best Video: {{ course.favorite_video.title }}</h3>
		<div class="embedded-video">
			<iframe width="100%" src="{{ course.favorite_video.url }}" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="caption">{{ course.favorite_video.caption }}</div>
	</div>
	<h3>More Resources</h3>
	<ul>
		<li><a href="course/{{ loop.index }}/">Notes for {{ course.title }}</a></li>
		<li><a href="{{ course.url }}" target="_blank">Link to Course</a></li>
	</ul>
</div>
{% endfor %}
{% endblock %}