/* This is a CSS comment.*/

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/*
Comments are only to help PEOPLE read a code file. The
computer ignores them.
*/
